.destaques {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.destaques__barra {
    flex-grow: 1;
}


/* Seção de Eventos */

.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas: 
    "imagem imagem"
    "nome nome"
    "data data"
    "local botao";
    gap: 1rem;
}


.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3 {
    grid-area: nome;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
}

.eventos__item button {
    grid-area: botao;
}

@media (min-width:720px) {
    .eventos__lista {
        justify-content: center;
    }

    .eventos__item {
        flex-grow: 1;
        max-width: 400px;
        max-height: 400px;
    }
}

/* Seção Agenda */

.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "imagem imagem"
    "info atracao";
}

.agenda__item img {
    grid-area: imagem;
}


.agenda__item {
    flex-grow: 1;
}

@media (min-width:720px) {
    .agenda__lista {
        justify-content: end;
    }

    .agenda__item {
        flex-grow: 1;
    }
}

@media (min-width:1440px) {
    .agenda__lista {
        justify-content: center;
    }
}


